/* Smart Dialogue Colorizer Extension Styles */

.sdc-extension-settings .dc-flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.sdc-extension-settings .dc-small-desc {
    font-size: smaller;
    color: darkgray;
    padding: 0;
    margin-bottom: 4px;
}

.sdc-extension-settings .dc-color-input-combo {
    display: flex;
    align-items: center;
}

.sdc-extension-settings .dc-color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    overflow: hidden;
    width: 150%;
    height: 150%;
    margin: -25%;
}

.sdc-extension-settings .dc-color-picker-wrapper {
    overflow: hidden;
    width: 1.5em;
    height: 1.5em;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 20%;
}

.sdc-extension-settings .dc-color-picker::-webkit-color-swatch-wrapper, 
.sdc-extension-settings .dc-color-picker::-moz-color-swatch-wrapper {
	padding: 0;
}

.sdc-extension-settings .dc-color-picker::-webkit-color-swatch, 
.sdc-extension-settings .dc-color-picker::-moz-color-swatch {
	border: none;
}

.sdc-extension-settings .dc-color-settings-group {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    margin-top: 0;
}